.App {
  text-align: center;
  min-width: 360px;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 1em;
  color: white;
}

label {
	display: block;
	margin: 10px;
}

.input {
	display: inline-block;
	margin: 10px 5px 10px 10px;
}

.btn {
	display: block;
	margin: 10px auto;
}